body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.nav-link{
  color: white;
}
.nav-link:hover{
  color: skyblue;
}

.skil-contents-field{
  width: 80%; 
  border-radius: 21px 21px 0 0;
}

.career-table-header{
  background-color: rgb(255, 210, 126);
}
/*
 * Extra utilities
 */

 .flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

.rating{
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #CCCCCC; 
}

.rating:before, .rating:after{
    content: '★★★★★';
}

.rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32; 
}

.rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
.rating[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */
.rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
.rating[data-rate="3.5"]:after{ width: 70%; } /* 星3.5 */
.rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
.rating[data-rate="2.5"]:after{ width: 50%; } /* 星2.5 */
.rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
.rating[data-rate="1.5"]:after{ width: 30%; } /* 星1.5 */
.rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
.rating[data-rate="0.5"]:after{ width: 10%; } /* 星0.5 */
.rating[data-rate="0"]:after{ width: 0%; } /* 星0 */
